<app-navbar></app-navbar>

<div class="home-section">
    <div class="home-left" data-aos="fade-right">
        <h1 class="home-heading">Professional <app-typing-effect></app-typing-effect> <br> With Reliable Service</h1>
        <p>Brihaspati is a cyberforensic tool that securely extracts images from Android devices and uses AI to detect illegal content like violent imagery, Guns, alcohol and Knives. It analyzes metadata, flags suspicious files with high accuracy, and generates detailed reports, making it a powerful asset for digital investigations.</p>
        <button class="btn-home"><a [routerLink]="['/about']" routerLinkActive="router-link-active" >Learn More</a></button>
    </div> 

    <div class="home-right" data-aos="fade-left">
        <img [src]="imageUrl" alt="">
    </div>
</div>
<app-footer></app-footer>
<!-- <app-footer></app-footer> -->